/* CSS Document */
#headerstic-sticky-wrapper, .navbar-default{background-color:#fff;}
.header-bg {background: #5fc7ae none repeat scroll 0 0;}
.head-social-icon, .top-info-contact, .search-head {color: #fff;}
.top-info-contact {color: #fff; font-weight:bold;}
.navbar-default .navbar-nav > .active > a::before {background: #1bac8f none repeat scroll 0 0;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {background: #5fc7ae none repeat scroll 0 0;color: #fff;}
.navbar-default .navbar-nav > li > a::before {background: #1bac8f none repeat scroll 0 0;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {color: #1bac8f;}
.dropdown-menu {border-top: 3px solid #1bac8f !important;}
.dropdown-menu > li > a {background: #fff none repeat scroll 0 0;}
.complete-content {background: #5fc7ae none repeat scroll 0 0;}
.icon-box-3 {background: #fff none repeat scroll 0 0 padding-box;border: 1px solid #1bac8f; min-height:100px;}
.icon-box-3 li {border-bottom: 1px solid #1bac8f;}
.iconbox-readmore {background: #1bac8f none repeat scroll 0 0; border: 1px solid #1bac8f;}
.icon-boxwrap2 {background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #1bac8f 0px, #1bac8f 50%, #5fc7ae 51%, #5fc7ae 100%) repeat scroll 0 0;}
.icon-box-3:hover .icon-box2-title {color: #1bac8f;}
.icon-box-3:hover .iconbox-readmore {background: #5fc7ae none repeat scroll 0 0; border: 1px solid #5fc7ae;}
.icon-box2-title {margin: 17px 0 20px;}
.iconlist-mid-title {color: #1bac8f;}
.icon-list-icons { background: #5fc7ae none repeat scroll 0 0; border: 2px solid #1bac8f;}
.iconlist-title {color: #1bac8f;}